/**
 * Simple Inventory API
 * This is a simple API
 *
 * OpenAPI spec version: 5.0.0
 * Contact: you@your-company.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.Response
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DailywordApi {

  /**
   * By passing in the appropriate options, you can request to subscribe a particular user 
   * 
   * Expected answers:
   *   code 200 : Seq[Response] (This is a sample response for a successfull request (*note that if the the request is successfull, the statusCode will begin with \&quot;S\&quot;))
   * 
   * @param msisdn pass the mobile number of the user with or without 0 (07xxxxxxxx or 7xxxxxxxx)
   * @param otp otp code
   */
  def otp(msisdn: String, otp: String): ApiRequest[Seq[Response]] =
    ApiRequest[Seq[Response]](ApiMethods.POST, "https://virtserver.swaggerhub.com/HasithaAthukorala/sayhello/5.0.0", "/subscribe/otp", "application/json")
      .withQueryParam("msisdn", msisdn)
      .withQueryParam("otp", otp)
      .withSuccessResponse[Seq[Response]](200)
        /**
   * By passing in the appropriate options, you can request to subscribe a particular user 
   * 
   * Expected answers:
   *   code 200 : Seq[Response] (This is a sample response for a successfull request (*note that if the the request is successfull, the statusCode will begin with \&quot;S\&quot;))
   * 
   * @param msisdn pass the mobile number of the user with or without 0 (07xxxxxxxx or 7xxxxxxxx)
   * @param device name of the device
   * @param os operating system of the device
   */
  def subscribe(msisdn: String, device: String, os: String): ApiRequest[Seq[Response]] =
    ApiRequest[Seq[Response]](ApiMethods.POST, "https://virtserver.swaggerhub.com/HasithaAthukorala/sayhello/5.0.0", "/subscribe", "application/json")
      .withQueryParam("msisdn", msisdn)
      .withQueryParam("device", device)
      .withQueryParam("os", os)
      .withSuccessResponse[Seq[Response]](200)
      

}

